<form action="{{path('add')}}" method="post">
        <tr>
            <td><input name="short_title" type ="text" placeholder="Short Title" required autofocus></td>
        </tr>
        <tr>
            <td><input name="full_title" type ="text" placeholder="Full title" required autofocus</td>
        </tr>
        <tr>
            <td><input name="local_title" type="text" placeholder="Local title" required autofocus></td>
        </tr>
        <tr>
            <td><input name="short_desc" type="text" placeholder="Short Description" required autofocus></td>
        </tr>
        <tr>
            <td><input name="full_desc" type="textarea" placeholder="Full Description" required autofocus></td>
        </tr>
        <tr>
            <td><input name="local_desc" type="text" placeholder="Local description" required autofocus></td>
        </tr>
        <tr>
            <td><input name="country" type="text" placeholder="Country" required autofocus></td>
        </tr>
        <tr>
            <td><input name="city" type="text" placeholder="City" required autofocus></td>
        </tr>
        <tr>
            <td><input name="adress" type="text" placeholder="Adress" required autofocus></td>
        </tr>
        <tr>
            <td><input name="postcode" type="number" placeholder="Postcode" required autofocus></td>
        </tr>
        <tr>
            <td><input name="latitude" type="number" placeholder="Latitude" required autofocus></td>
        </tr>
        <tr>
            <td><input name="longtitude" type="number" placeholder="Longtitude" required autofocus></td>
        </tr>
        <tr>
            <td><input name="main_type" type="text" placeholder="Main type" required autofocus></td>
        </tr>
        <tr>
            <td><input name="additional_type" type="text" placeholder="Additional type" required autofocus></td>
        </tr>
        <tr>
            <td><input name="capacity" type="number" placeholder="Capacity" required autofocus></td>
        </tr>
        <tr>
            <td><input name="max_capacity" type="number" placeholder="Max Capacity" required autofocus></td>
        </tr>
        <tr>
            <td><input name="contacts" type="text" placeholder="Contacts" required autofocus></td>
        </tr>
        <tr>
            <td><input name="external_resources" type="text" placeholder="External Resources" required autofocus></td>
        </tr>
        <br>
        <button type="submit">Send</button>
    </form>
        {% if message is defined %}
            <h2>{{message}}</h2>            
        {% endif %}