<title>Cabinet of user </title>
{% for userinfo in user %}
    <center><h1>Successfully logged in. Welcome, {{userinfo.name}} {{userinfo.surname}}</h1></center>
{% endfor %}
<center><a href ="{{path('logout')}}">Logout</a></center>
